---
import { getCollection } from "astro:content"
import { Image } from "astro:assets"
import BaseLayout from "../layouts/BaseLayout.astro"
import Header from "../components/Header.astro"
import { FaGithub, FaPencilAlt } from "react-icons/fa"
import "./_index.scss"

const blogPosts = await getCollection("blog")
const sortedBlogPosts = blogPosts.sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
)
const latestPost = sortedBlogPosts[0]

const keywords = [
  "karlo delalic",
  "portfolio",
  "distributed systems",
  "software engineer",
  "home page",
  "latest blog post",
]
---

<BaseLayout keywords={keywords} centered={true} hidePageTitle={true}>
  <Header slot="header" />
  <Image
    class="profile-image"
    src="/profile.png"
    alt="Karlo Delalic's profile"
    width={200}
    height={200}
    loading="eager"
  />
  <h1 class="fullname">Karlo Delalic</h1>
  <h2 class="occupation">Software Engineer</h2>
  <h3 class="description">I like to make cool things.</h3>
  <div class="social-buttons">
    <a class="link-button ghost" href="/blog">
      <FaPencilAlt /> Writings
    </a>
    <a
      class="link-button ghost"
      href="https://github.com/kdelalic"
      target="_blank"
      rel="nofollow noopener noreferrer"
    >
      <FaGithub /> Github
    </a>
  </div>
  {
    latestPost && (
      <div class="latest-post">
        <h3 class="latest-post__title">
          <a class="latest-post__title__link" href={`/blog/${latestPost.slug}`}>
            {latestPost.data.title}
          </a>
          <span class="tag">Latest writing</span>
        </h3>
        <p class="latest-post__excerpt">
          {latestPost.body.split("<!-- end -->")[0].trim()}
        </p>
      </div>
    )
  }
</BaseLayout>
