---
import { Image } from "astro:assets"
import { FaGithub } from "react-icons/fa"
import "./project.scss"

interface Props {
  description: string
  github?: string
  technologies: string[]
  title: string
  demo?: string
  techLogos: Record<string, string>
  projectLogo?: string
  isAboveFold?: boolean
}

const {
  description,
  github,
  technologies,
  title,
  demo,
  techLogos,
  projectLogo,
  isAboveFold = false,
} = Astro.props
---

<div class="project">
  <div class="project__content paper">
    <h2 class="project__title">{title}</h2>
    <div class="project__body">
      <p class="project__body__description">{description}</p>
      {
        projectLogo && (
          <Image
            class="project__logo"
            src={projectLogo}
            alt="Project logo"
            width={150}
            height={150}
            loading={isAboveFold ? "eager" : "lazy"}
            style="width: auto; height: auto; max-width: 150px;"
          />
        )
      }
      <div class="project__body__tech-logos">
        {
          technologies?.map((technology) => (
            <div key={technology} class="project__body__tech-logos__logo">
              <span class="tooltip">{technology}</span>
              <Image
                src={techLogos[technology.toLowerCase()]}
                alt={`${technology} Logo`}
                width={40}
                height={40}
                loading="lazy"
              />
            </div>
          ))
        }
      </div>

      <div class="project__body__buttons">
        {
          github && (
            <a
              class="link-button"
              href={github}
              target="_blank"
              rel="nofollow noopener noreferrer"
            >
              <FaGithub />
              Source
            </a>
          )
        }
        {
          demo && (
            <a
              class="link-button secondary"
              href={demo}
              target="_blank"
              rel="nofollow noopener noreferrer"
            >
              Demo
            </a>
          )
        }
      </div>
    </div>
  </div>
</div>
